/* =============================================================================   DEFAULTS  ============================================================================= */
/* STYLE THAT SHOULD TAKE EFFECT BY DEFAULT IF I USE AN ELEMENT AND DON'T APPLY ANY SYLES THIS WILL APPLY BY DEFAULT   */
* {
  /* helps keep width  */
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #fbeec1;
  font-family: Arial, Helvetica, sans-serif;
}
.hide {
  display: none;
}
.center {
  text-align: center;
}
.bg-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
}
.logout-link {
  color: red;
}
hr {
  border: 1px solid #659dbd;
  opacity: 0.2;
}
.inline-divider{
  color: #061d2a;
  margin: 0px 4px 4xp;
}
.responsive-table{
  overflow-x: auto;
}
.input-group{
  margin-bottom: 10px;
  display: block;

}
.input-group label{
  display: block;
  margin-bottom: 8px;
}
.input-control:focus {
  outline: 0;
border: solid #659dbd;
}
.input-control{
  display: block;
  width: 100%;
  font-size: 1.1rem;
  color: #061d2a;
  background-color: #f7efd3;
  border: 1px solid #050505;
  line-height: 1.6rem;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  height: 52px;
  font-family: inherit;
}
.input-control{
  height: 42px !important;
  display: inline-block;
}
textarea.input-control{
height: unset !important;

}


/* =============================================================================   DEFAULTS  ============================================================================= */
/* ####################################################################################################################################################################### */
/* ####################################################################################################################################################################### */
/* ####################################################################################################################################################################### */
/* ####################################################################################################################################################################### */
/* =============================================================================  COMPONENTS ============================================================================= */
/* ADMIN FORMS */


.admin-form{
  margin: 30px auto;
  background-color: #fbf4dc;
}
.post-details{
  display: flex;

   /* border: solid red; */
}
.post-details .select-topic-wrapper{
  flex-basis: 80%;
}
.post-details .image-wrapper {
  padding: 25px 0px 0px 20px;
  flex-basis: 20%;
  /* font-size: 1.6rem; */

}
.post-details .image-wrapper .img-btn{
  
 width: 100%;
 height: 42px;
 border-radius: 3px;
 border: dashed lightgray ;
 align-items: center;
 justify-content: center;
}

.post-details .image-wrapper .img-btn .image-outline{
  transform: translateY(1px);
}

/* ELEMENTS THAT PROVIDE OR DISPLAY INFORMATION */

/* flash messages */
.form-errors{
  border: solid .1rem #d80505;
  color: #9e2e02;
  background-color: #fdd2ce;
  padding: 16px 32px;
  border-radius: 3px;
}
.message {
  margin: 10px 0;
  padding: 10px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 3px;
  border: solid red;
}
.message-icon {
  font-size: 1.75rem;
  margin-right: 10px;
}

.message.success {
  border: solid #00bc98;
  color: #00bc98;
  background-color: #d4ffbc;
}
.message.warning {
  border: solid hsl(41, 100%, 37%);
  color: hsl(41, 100%, 37%);
  background-color: #ffdfab;
}
.message.error {
  border: solid #d80505;
  color: #f94700;
  background-color: #fdd2ce;
}
.featured-post-form {
  padding: 32px 0px;
}

header {
  width: 100%;
  height: 80px;
  background—color: white;
  border—bottom: 1px solid;
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  box-shadow: 0.5px 0.5px white, -0.01em 0 0.9em gray;
  /* border: 1px solid red; */
}
.nav-overlay {
  display: none;
}
.menu-icon {
  font-size: 24px;
  display: none;
}
header nav {
  height: inherit;
  display: flex;
  align-items: center;
}

header ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
header .navmenu .navitem .dropdown {
  /* border: 1px solid red; */
  width: 190px;
  top: 80px;
  left: 0px;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px white, -0.01em 0 0.9em gray;
  transform: translateY(35px);
  z-index: -5;
  opacity: 0;
}
header .navmenu .navitem:hover .dropdown {
  transform: translateY(0);
  z-index: 5;
  opacity: 1;
  transition: all 0.25s cubic-bezier(0.17, 0.67, 0.6, 0.31);
}

header .navmenu .navitem .dropdown::after {
  content: "";
  position: absolute;
  top: -20px;
  left: 15px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
header .navmenu .navitem .dropdown li {
  border-bottom: 1px solid #dfeef3;
}
header .navmenu .navitem .dropdown li:last-child::after {
  /* border-bottom: 1px solid #dfeef3 ; */
  display: none;
}
header .navmenu .navitem .navicon {
  transform: translatey(4px);
  font-size: 16px;
}

header .navmenu .navitem {
  position: relative;
}
header .navmenu .navitem .dropdown a {
  padding: 16px;
}
header .navmenu .navitem a {
  display: block;
  text-decoration: none;
  padding: 30px 16px;
  color: #659dbd;
}
header .navmenu .navitem a:hover {
  color: #061d2a;
}
header .navmenu {
  display: flex;
}
.-td-none {
  text-decoration: none;
  color: inherit;
}

.logo-wrapper {
  font-size: 1.4rem;
}
.logo-wrapper span {
  /* background-color: #659dbd; */
  background-color: #8d8741;
  padding: 0 5px;
  line-height: 0;
  border-radius: 2px;
  color: aliceblue;
}

/* Table pagination */

.pagination-links{
  display: flex;
justify-content: flex-end;
}

.pagination-links .link{
  font-size: 0.9rem;
  background-color: transparent;
  padding: 0.35rem 0.75rem;
  min-width: 35px;
  border: 1px solid #659dbd;
}
.pagination-links .active{
  color: #fff;
  background-color: rgb(68, 177, 250);

}
/* Admin Layout
 */
.page-wrapper {
  display: flex;
  min-height: 100%;
  /* padding-right: 10px; */
  /* border: 1px dashed rgb(216, 19, 19); */
}
.sidebar {
  flex-basis: 18%;
  padding: 20px;
  min-height: 100%;
  max-width: 260px;
  background-color: #659dbd;
  /* border: 1px solid red; */
}
.sidebar-author-mobile {
  display: none;
}

.sidebar .list-menu li a .mnu-icon {
  display: block;
  /* color: red; */
  margin-right: 12px;
  /* border: 1px solid red; */
}
.page-wrapper .sidebar .list-menu li a {
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  position: relative;
  /* border: 1px solid red; */
  display: flex;
}
.page-wrapper .sidebar .list-menu li a:hover {
  color: #dfeef3;
}
.page-wrapper .sidebar .list-menu li a .chevron-forward {
  /* color: #061d2a; */
  position: absolute;
  right: 5px;
}

.sidebar-overlay {
  display: none;
}

.page-wrapper .sidebar .list-menu {
  margin: 0;
  padding: 0;
  padding-top: 2rem;
  overflow: hidden;
  /* border: 1px solid red; */
}
.page-wrapper .page-content {
  /* border: 1px solid blue; */
  flex-basis: 90%;
  overflow-x: hidden;
}

.featured-post-form .input-control-sm {
  max-width: 400px;
  width: 100%;
}
/* TABLES action */
.admin-table {
}
.table-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.td-action-links a.trash{
  color: #c48b18;
}
.td-action-links a.related-posts{
  color: #5364ff;
}
.td-action-links a{
  font-size: 0.75rem;
}

.td-action-links{
  
  margin-top: 10px;
}
.table-filter-group {
  flex-basis: 50%;
  /* border: solid red; */
}
.table-buttons {
  /* border: solid red; */
  text-align: right;
  flex-basis: 50%;
}
.admin-table table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #f7efd3;
}

.admin-table td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-decoration: none;
}
.admin-table a{
  text-decoration: none;
  color: inherit;
}



@media only screen and (max-width: 756px) {
  .input-control-sm{
  margin: 8px 0;
  }
  .table-actions select  {
    min-width: 150px;
    margin: 8px 0;
  }
  .table-filter-group input ,
  .table-filter-group select {
    min-width: 150px;
    margin: 8px 0;
  }
  .table-buttons {
    display: flex;
    flex-direction: column;
  }
  .admin-table .table-actions .table-buttons .btn{
    margin: 8px 0;
    
  }
}

/* ============================================================================= Media query  ============================================================================= */
/* ####################################################################################################################################################################### */
/* ####################################################################################################################################################################### */
/* ####################################################################################################################################################################### */
/* ####################################################################################################################################################################### */

/* Admin media q */

@media only screen and (max-width: 756px) {
  .page-wrapper {
    display: block;
    min-height: 100%;
    /* padding-right: 10px; */
    /* border: 1px dashed rgb(216, 19, 19); */
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 340px;
    z-index: 9999999;
    overflow: hidden;
    transform: translateX(-340px);
    transition: transform 0.25s ease-in-out;
  }

  .sidebar.open {
    transform: translateX(0px);
    transition: transform 0.25s ease-in-out;
  }

  .sidebar-author-mobile {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 76px;
    /* border: 1px solid blue; */
  }
  .avatar {
    height: 90px;
    width: 90px;
    border-radius: 50%;
  }

  @media only screen and (max-width: 1024px) {
    header {
      padding: 0 10px;
      /* border: 1px solid red;  */
    }
  }

  @media only screen and (max-width: 756px) {
    header .menu-icon {
      /* /* font-size: 24px; */
      display: block;
      /* border: 1px solid red;  */
    }
    nav {
      /* border: 1px solid red; */
      flex-grow: 1;
    }
    .search-item,
    .header-search-form input {
      width: 300%;
      border: 1px solid red;
      align-items: center;
    }

    header .logo-wrapper {
      width: 100%;
      text-align: center;
      /* border: 1px solid red; */
    }

    header .navmenu {
      position: fixed;
      left: 0;
      top: 0;
      flex-direction: column;
      height: 100%;
      width: 250px;
      overflow: scroll;
      z-index: 9999999;
      background: white;
      padding: 50px 0;
      transform: translateX(-250px);
      transition: all 0.25s ease-in-out;

      /* opacity: .5; */
    }
    header .navmenu .navitem a {
      padding: 16px;
    }

    header .navmenu .navitem {
      /* to be styled  */
      flex-direction: column;
    }

    header .navmenu .navitem .dropdown {
      /* border: 1px solid red; */
      width: 100%;
      top: 80px;
      left: 0px;
      position: static;
      /* background-color: #fff; */
      border-radius: 0px;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transform: translateY(0px);
      z-index: 1;
      opacity: 1;
      transition: max-height 0.25s ease-in-out;
    }

    header .navmenu .navitem .dropdown a {
      padding-left: 32px;
    }

    .navmenu .navitem.active .dropdown {
      max-height: 300px;
      transition: max-height 0.25s ease-in-out;
    }
    .nav-overlay.open {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.4;

      /* border: 1px solid red; */
    }
    .navmenu.open {
      display: block;
      transform: translateX(0px);
      transition: all 0.25s ease-in-out;

      /* border: 1px solid red; */
    }
  }
}

/* responsive boxes/containers */

.admin-container {
  max-width: 1000px;
  margin: 0 auto;
}

.sm-box {
  padding: 32px 10px;
  width: 100%;
  max-width: 500px;
}
.md-box {
  /* max-width: 750px; */
  width: 75%;
  padding: 32px 20px;
}

.lg-box {
  width: 95%;
  padding: 32px 10px;
}

@media only screen and (max-width: 1024px) {
  .md-box,
  .lg-box {
    width: 96%;
  }
}
/* =============================================================================  COMPONENTS ============================================================================= */
/* ####################################################################################################################################################################### */
/* ####################################################################################################################################################################### */
/* ####################################################################################################################################################################### */
/* ####################################################################################################################################################################### */
/* =============================================================================    PAGES    ============================================================================= */
/* ADMIN AND USER PAGES */

/* =============================================================================    PAGES    ============================================================================= */
